Mendeteksi Nilai yang tidak Standar
--

Mendeteksi apakah ada nilai-nilai dari variable kategorik yang tidak standard. Hal ini biasanya terjadi dikarenakan kesalahan input data. Perbedaan istilah menjadi salah satu faktor yang sering terjadi, untuk itu dibutuhkan standarisasi dari data yang sudah terinput.

Gunakan fungsi value_counts() untuk melihat jumlah data unique per variable nya

In [7]:
import pandas as pd
df_load = pd.read_csv('https://storage.googleapis.com/dqlab-dataset/dqlab_telco.csv')

# Masukkan variable
for col_name in list(['gender','SeniorCitizen','Partner','Dependents','PhoneService','MultipleLines','InternetService','OnlineSecurity','OnlineBackup','DeviceProtection','TechSupport','StreamingTV','StreamingMovies','Contract','PaperlessBilling','PaymentMethod','Churn']):
    print('\nUnique Values Count \033[1m' + 'Before Standardized \033[0m Variable',col_name)
    print(df_load[col_name].value_counts())

Unique Values Count Before Standardized  Variable gender
Male         3581
Female       3512
Wanita         14
Laki-Laki       6
Name: gender, dtype: int64

Unique Values Count Before Standardized  Variable SeniorCitizen
0    5962
1    1151
Name: SeniorCitizen, dtype: int64

Unique Values Count Before Standardized  Variable Partner
No     3676
Yes    3437
Name: Partner, dtype: int64

Unique Values Count Before Standardized  Variable Dependents
No     4978
Yes    2115
Iya      20
Name: Dependents, dtype: int64

Unique Values Count Before Standardized  Variable PhoneService
Yes    6423
No      690
Name: PhoneService, dtype: int64

Unique Values Count Before Standardized  Variable MultipleLines
No                  3428
Yes                 2995
No phone service     690
Name: MultipleLines, dtype: int64

Unique Values Count Before Standardized  Variable InternetService
Fiber optic    3125
DSL            2451
No             1537
Name: InternetService, dtype: int64

Unique Values Count Before Standardized  Variable OnlineSecurity
No                     3531
Yes                    2045
No internet service    1537
Name: OnlineSecurity, dtype: int64

Unique Values Count Before Standardized  Variable OnlineBackup
No                     3120
Yes                    2456
No internet service    1537
Name: OnlineBackup, dtype: int64

Unique Values Count Before Standardized  Variable DeviceProtection
No                     3120
Yes                    2456
No internet service    1537
Name: DeviceProtection, dtype: int64

Unique Values Count Before Standardized  Variable TechSupport
No                     3502
Yes                    2074
No internet service    1537
Name: TechSupport, dtype: int64

Unique Values Count Before Standardized  Variable StreamingTV
No                     2837
Yes                    2739
No internet service    1537
Name: StreamingTV, dtype: int64

Unique Values Count Before Standardized  Variable StreamingMovies
No                     2809
Yes                    2767
No internet service    1537
Name: StreamingMovies, dtype: int64

Unique Values Count Before Standardized  Variable Contract
Month-to-month    3905
Two year          1716
One year          1492
Name: Contract, dtype: int64

Unique Values Count Before Standardized  Variable PaperlessBilling
Yes    4206
No     2907
Name: PaperlessBilling, dtype: int64

Unique Values Count Before Standardized  Variable PaymentMethod
Electronic check             2385
Mailed check                 1630
Bank transfer (automatic)    1556
Credit card (automatic)      1542
Name: PaymentMethod, dtype: int64

Unique Values Count Before Standardized  Variable Churn
No       5195
Yes      1866
Churn       9
Name: Churn, dtype: int64

Menstandarisasi Variable Kategorik
--

Setelah kita mengetahui variable mana saja yang ada nilai tidak standar, maka kita standarkan dengan pola terbanyak nya, dengan syarat tanpa mengubah maknanya. Contoh : Iya -> Yes Kemudian liat kembali unique values dari masing-masing variable yang sudah di ubah. Gunakan fungsi replace() untuk menstandarkan nilai

In [16]:
import pandas as pd
df_load = pd.read_csv('https://storage.googleapis.com/dqlab-dataset/dqlab_telco.csv')
df_load = df_load.replace(['Wanita','Laki-Laki','Iya','Churn'],['Female','Male','Yes','Yes'])

# Masukkan variable
for col_name in list(['gender','Dependents','Churn']):
	print('\nUnique Values Count \033[1m' + 'After Standardized 	\033[0mVariable',col_name)
	print(df_load[col_name].value_counts())

Unique Values Count After Standardized 	Variable gender
Male      3587
Female    3526
Name: gender, dtype: int64

Unique Values Count After Standardized 	Variable Dependents
No     4978
Yes    2135
Name: Dependents, dtype: int64

Unique Values Count After Standardized 	Variable Churn
No     5195
Yes    1875
Name: Churn, dtype: int64